<h1>{{ titulo }}</h1>

<ul>
    {{#each productos}}
    <li>
        <h2>{{ this.title }}</h2>
        <p>{{ this.description }}</p>
        <p>Precio: ${{ this.price }}</p>
        <p>Categoría: {{ this.category }}</p>
        <button onclick="verDetalles('{{ this._id }}')">Ver Detalles</button>
        <button onclick="agregarAlCarrito('{{ this._id }}')">Agregar al Carrito</button>
    </li>
    {{/each}}
</ul>

<div id="detallesProducto"></div>